* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.title {
    /* background: linear-gradient(blue, 10%, pink); */
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
    margin: auto;
}

.myHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

img {
    width: 100%;
}

p {
    padding: 10px;
}

.myPost {
    background-color: white;
}

footer  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: small;
}